<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="W3C Linked Data Platform Test Suite">
    <listeners>
        <listener class-name='org.w3.ldp.testsuite.reporter.LdpTestListener'/>
        <listener class-name='org.w3.ldp.testsuite.reporter.LdpHtmlReporter'/>
        <listener class-name='org.w3.ldp.testsuite.reporter.LdpEarlReporter'/>
    </listeners>

    <parameter name="basicContainer" value="http://localhost:8080/proxy/coap://192.168.0.216:5688/bc"/>
    <parameter name="directContainer" value="http://localhost:8080/proxy/coap://192.168.0.216:5688/dc-simple" /> 
    <parameter name="indirectContainer" value="http://localhost:8080/proxy/coap://192.168.0.216:5688/ic" />
    
    <!-- A resource whose internal RDF state has a type triple of one of container types
         but whose interaction model was created with header on POST request of:
           Link: <http://www.w3c.org/ldp/ns#Resource>;rel="type"
         See: http://www.w3.org/TR/ldp/#ldpc-post-createrdf
      -->
    <parameter name="containerAsResource" value="http://localhost:8080/proxy/coap://192.168.0.216:5688/bc-asres" />
    
    <!-- Properties for Earl Report, recommended that these be set  -->
    <parameter name="assertor" value="mailto:swot.sisinflab@poliba.it" />
    <parameter name="software" value="LDP-CoAP 1.3.0" />
    <parameter name="shortname" value="LDP-CoAP" />
    <parameter name="language" value = "Java" />
    <parameter name="homepage" value ="http://swot.sisinflab.poliba.it/ldp-coap/" />
    <parameter name="mbox" value="swot.sisinflab@poliba.it" />
	<parameter name="mail" value="swot.sisinflab@poliba.it" />
    <parameter name="developer" value="SisInfLab - SWoT" />
    <parameter name="description" value="Linked Data Platform for the Constrained Application Protocol" />
    <parameter name="auth" value="sisinflab:test" />
    

    <!-- (Optional) RDF member resource parameter. If left out, the tests will
        try to create a resource in one of the containers. -->
    <!-- <parameter name="memberResource" value="tbd"/> -->

    <!-- (Optional) Read only property to test server errors -->
    <parameter name="readOnlyProp" value="http://purl.org/dc/terms/contributor" />

    <test name="All Tests">
        <groups>
            <define name="allRequirementLevels">
                <include name="MUST"/>
                <include name="SHOULD"/>
                <include name="MAY"/>
            </define>

            <run>
                <include name="allRequirementLevels"/>
                
                <!-- Will just skip the tests but create entries for the reporters -->
                <include name="MANUAL"/>

                <!-- Include this group if your server uses ldp:member as a membership
                    predicate for Direct Containers. (See 5.4.1.2 in the LDP spec.) -->
                <include name="ldpMember"/>
            </run>
        </groups>
        <classes>            
            <class name="org.w3.ldp.testsuite.test.BasicContainerTest"/>
			<class name="org.w3.ldp.testsuite.test.DirectContainerTest" /> 
            <class name="org.w3.ldp.testsuite.test.IndirectContainerTest" />
            <class name="org.w3.ldp.testsuite.test.MemberResourceTest"/>
            <class name="org.w3.ldp.testsuite.test.NonRDFSourceTest" />
        </classes>
    </test>
</suite>
